  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>
      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h1 class="dataForm">Album Info</h1>
<%= form_for(@album, :html => {:class => "dataForm"}) do |f| %>
<ul>
  <li>
    <%= f.label :title, "Album Title" %>
    <%= f.text_field :title, { :class=>"title"}  %>
  </li>
  <li>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </li>
  <li>
    <%= f.submit %>
    <%= link_to 'Back To Images', @album %> |
    <%= link_to 'Back To Albums', albums_path %>
  </li>
</ul>
<% end %>
