<p id="notice"><%= notice %></p>

<p>Listing images for album</p> <br/><h1><%= @album.title %></h1>
<p>
  <b>Description:</b>
  <%= @album.description %>
</p>
<ul class="thumbnailContainer">
	<% @images.each do |image| %>
		  <li class="thumbnail">
			<%= link_to image.image_file.url, :title => image.name, :class => "albumImage" do
				image_tag image.image_file.url(:medium)
			end %>
			<p><%= image.name %> </p>
			<%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure you wish to delete this image?' } %>
			</li>
	<% end %>
	</ul>
<%= content_tag(:div, "", :class => "clear") %>

</br>
<%= link_to 'Add Image', new_album_image_path(@album) %>
<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
