:javascript
  //Create light box options
  
      var fancyBoxOptions = {
          nextClick: true,
          loop: true,
          openEffect: 'elastic',
          closeEffect: 'elastic'
      };
  
      //HOVER SO IT SHOWS MENU TO DELETE OR SHOW ORIGINAL IMAGE
      //Bind images to lightbox so when click will show popup
      function BindFancyBox() {
          $(".thumbnail a.albumImage").fancybox(fancyBoxOptions);
      }
  
      $(document).ready(function(){
        BindFancyBox() 
      });

%p#notice= notice
%h1= @album.title
%p
  %b= @album.description
  %br
  %br
  = link_to 'Add Image', new_album_image_path(@album), :class => "green button"
  |
  #{link_to 'Edit', edit_album_path(@album), :class => "blue button"} |
  |
  #{link_to 'Back', albums_path, :class => "gray button"}
  |
  #{link_to 'X', @album, method: :delete, data: { confirm: 'Are you sure you wish to delete this album?' }, :class=>"red button"}
%br
%ul.thumbnailContainer
  - @images.each do |image|
    %li.thumbnail
      = link_to image.image_file.url, :title => image.name, :class => "albumImage", :rel => "albumImages" do |
        image_tag image.image_file.url(:medium) |
        end |
      %p
        = image.name
        = link_to 'X', image, method: :delete, data: { confirm: 'Are you sure you wish to delete this image?' }, :class=>"right"
        = content_tag(:div, "", :class => "clear")

%br