:javascript
  //Create light box options
  
      var fancyBoxOptions = {
          nextClick: true,
          loop: true,
          openEffect: 'elastic',
          closeEffect: 'elastic'
      };
  
      //HOVER SO IT SHOWS MENU TO DELETE OR SHOW ORIGINAL IMAGE
      //Bind images to lightbox so when click will show popup
      function BindFancyBox() {
          $("ul.thumbnailContainer li a.albumImage").fancybox(fancyBoxOptions);
      }
  
      $(document).ready(function(){
        BindFancyBox() 

        $(".view img").on('click',function(){
         var imgId = $(this).attr("id");
         var liClass = imgId == "photoView" ? "lg": "sm";
         $("ul.thumbnailContainer li").attr("class",liClass);
        })
      });

.option
  .menu
    = link_to content_tag(:span, 'New image',:class => "add"), new_album_image_path(@album), :class=>"buttonImg"
    |
    = link_to content_tag(:span, 'Edit album',:class => "edit"), edit_album_path(@album), :class=>"buttonImg" |
    |
    = link_to content_tag(:span, 'Delete album',:class => "delete"), @album, method: :delete, data: { confirm: 'Are you sure you wish to delete this album?' }, :class=>"buttonImg"
    |
    #{link_to content_tag(:span, 'Back', :class => "back"), albums_path, :class => "buttonImg"}
  .view
    = content_tag(:span, "View:")
    = image_tag('thumbnail_16.png', :id => "thumbnailView")
    = image_tag('thumbnail_4.png', :id => "photoView")
  .clear
%span.title= @album.title
%p
  %b= @album.description
%br
%ul.thumbnailContainer
  - @images.each do |image|
    %li.sm
      = link_to image.image_file.url, :title => image.name, :class => "albumImage", :rel => "albumImages" do |
        image_tag image.image_file.url(:medium) |
        end |
      %p
        = image.name
        = link_to 'X', image, method: :delete, data: { confirm: 'Are you sure you wish to delete this image?' }, :class=>"right"
        = content_tag(:div, "", :class => "clear")

%br