<p id="notice"><%= notice %></p>
<h1><%= @album.title %></h1>
<p>
  <b><%= @album.description %></b>
</p>
<br/>
<ul class="thumbnailContainer">
	<% @images.each do |image| %>
		  <li class="thumbnail">
			<%= link_to image.image_file.url, :title => image.name, :class => "albumImage" do
				image_tag image.image_file.url(:medium)
			end %>
			<p><%= image.name %><%= link_to 'X', image, method: :delete, data: { confirm: 'Are you sure you wish to delete this image?' }, :class=>"right" %></p>
			</li>
	<% end %>
	</ul>
<%= content_tag(:div, "", :class => "clear") %>

</br>
<%= link_to 'Add Image', new_album_image_path(@album), :class=>'button green' %>
<%= link_to 'Edit', edit_album_path(@album), :class=>'button blue' %> |
<%= link_to 'Back', albums_path, :class=>'button gray' %>
