<p id="notice"><%= notice %></p>



<a href="<%=@image.image_file.url %>" alt="view fullsize image"><%= image_tag @image.image_file.url(:medium) %></a>



<p>
  <b>Name:</b>
  <%= @image.name %>
</p>

<p>
  <b>Description:</b>
  <%= @image.description %>
</p>




<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
