<!DOCTYPE html>
<html>
<head>
  <title>Imageshare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#test").click(function () {
                $(this).animate(
            { "font-size": "60px",
                "padding-left": "200px"
            }, 2000).animate(
            { "color": "Blue" },
            2000);
            });
        });
    </script>
</head>
<body>
    <header id="banner">
        <ul id="navigation" class="">
            <li class="nav"><%= link_to 'Albums', albums_path %></li>
        </ul>
    <div class="clear"></div>
    </header>
	<div id="pageBase">
		<div id="page">
		<%= yield %>
    </div>
  </div>
  	<div class="clear">
    </div>
    <footer id="footer">
    This is a footer which should contain links to common links pertaining to the page. Not very important links. Just some like help, emailme, basic info and what not.<br />
    Might not need to be fixed so it just shows up at the end of the page.
    </footer>
</body>
</html>
